.gitignore
Pong/env/*
.env
*.pyc
.idea
.code
stopAll

Pong/configFiles/__pycache__/*
Pong/userManagement/migrations/*
Pong/warning.log
Pong/debug.log

Pong/userManagement/migrations/*_initial.py
frontend/app/node_modules/
frontend/app/dist/
