Pong/env/*
.env
*.pyc
.idea
.vscode/
.code
.vite/
.DS_Store
stopAll
*.subject.pdf
.logs.txt

Pong/configFiles/__pycache__/*
Pong/userManagement/migrations/*
Pong/matchs/migrations/*
Pong/warning.log
Pong/debug.log
Pong/media/profile_pics/*

Pong/gamesManager/game_ai/ai_q_table.pickle
Pong/userManagement/migrations/*_initial.py
Pong/matchs/migrations/*_initial.py
Pong/gamesManager/migrations/*initial.py
frontend/app/node_modules/
frontend/app/dist/

*.subject.pdf
