@keyframes display {
    0% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
        padding: 0px;
        margin-bottom: 0px;
    }
    100% {
        opacity: 1;
        height: 100%;
        line-height: 100%;
    }
}

@keyframes displayImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}