{% extends "layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div style="color: red;">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="validation01" class="form-label">Username</label>
            <input class="form-control" autofocus type="text" name="username" id="validation01" required>
        </div>
        <div class="mb-3">
            <label for="validation02" class="form-label">Email</label>
            <input class="form-control" type="email" name="email" id="validation02" required>
        </div>
        <div class="mb-3">
            <label for="validation03" class="form-label">Password</label>
            <input class="form-control" type="password" name="password" id="validation03" required>
        </div>
        <div class="mb-3">
            <label for="validation04" class="form-label">Password confirmation</label>
            <input class="form-control" type="password" name="confirmation" id="validation04" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}