{% extends "layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static "scriptRegistration.js" %}"></script>
{% endblock %}

{% block body %}

    <h2>Register</h2>

    {% if message%}
        <div class="red">{{ message }}</div>
    {% endif %}
    {% if form.errors %}
        {% for error_list in form.errors.items %}
            {% for error in error_list %}
                <div class="red">{{ error }}</div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form action="{% url "register" %}" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="validation01" class="form-label">Username</label>
            <input class="form-control" autofocus type="text" name="username" id="validation01" minlength="5"
                   maxlength="12" pattern="[A-Za-z0-9]+" required>
            <span class="helper">Username has to be 5 to 12 characters long and
                composed only by letters and digits!</span>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Bad input!</div>
        </div>
        <div class="mb-3">
            <label for="validation02" class="form-label">Email</label>
            <input class="form-control" type="email" name="email" id="validation02"
                   required>
            <span class="helper">example@example.com</span>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Bad input!</div>
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input class="form-control" type="password" name="password1" id="password1"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{5,12}" required>
            <span class="helper">{{ form.password1.help_text }}</span>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Bad input!</div>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Password confirmation</label>
            <input class="form-control" type="password" name="password2" id="password2"
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{5,12}" required>
            <span class="helper">{{ form.password2.help_text }}</span>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Bad input!</div>
        </div>
        <input class="btn btn-primary" type="submit" value="Register" id="submitRegistrationForm">
    </form>
    Already have an account? <a href="{% url "login" %}">Log In here.</a>
{% endblock %}