{% extends "pages/layout.html" %}

{% block body %}

    <h2 style="height: 100px;">Login</h2>

    {% if message %}
        <div class="red">{{ message }}</div>
    {% endif %}

    {% if errors.non_field_errors %}
        <ul>
            {% for error in errors.non_field_errors %}
                <li class="red">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="login01" class="form-label">Username</label>
            <input autofocus class="form-control" type="text" name="username" required>
        </div>
        <div class="mb-3">
            <label for="login02" class="form-label">Password</label>
            <input class="form-control" type="password" name="password" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}