{% extends "pages/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'scriptRegistration.js' %}"></script>
{% endblock %}

{% block body %}

<!--{% if user.is_authenticated %}-->

<div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <form action="{% url 'change_password' %}" method="post"
          class="bg-white d-flex flex-column align-items-center py-2 px-5 rounded login-card hidden"
          style="--bs-bg-opacity: .5;">
        {% csrf_token %}
        <h1 class="text-justify play-bold">ft_transcendence 🏓</h1>
        <div class="w-100">
            <label for="old_password" class="visually-hidden">Old password</label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="bi bi-lock"></i>
                </div>
                <input type="password" name="old_password" id="old_password" class="form-control" placeholder="Password" autofocus required/>
            </div>
        </div>
        <div class="w-100">
            <label for="new_password" class="visually-hidden">New password</label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="bi bi-lock"></i>
                </div>
                <input type="Password" name="new_password" id="new_password" class="form-control" placeholder="Confirm Password" autofocus required/>
            </div>
        </div>
        <div class="w-100">
            <label for="confirm_password" class="visually-hidden">Confirm new password</label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="bi bi-lock"></i>
                </div>
                <input type="Password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" autofocus required/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        {% if login_error %}
        <div class="alert alert-danger" role="alert">
            {{ login_error }}
        </div>
        {% endif %}
    </form>
</div>

<!--{% endif %}-->

{% endblock %}