{% extends "pages/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'scriptRegistration.js' %}"></script>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    <h2>Already registered</h2>
{% else %}

<div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <form action="{% url 'reset_password' %}" method="post"
          class="bg-white d-flex flex-column align-items-center py-2 px-5 rounded login-card hidden"
          style="--bs-bg-opacity: .5;" id="passwordResetSend">
        {% csrf_token %}
        <h1 class="text-justify play-bold">ft_transcendence 🏓</h1>
        <div class="w-100">
            <label for="email" class="visually-hidden">Email</label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" autofocus required/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        {% if login_error %}
        <div class="alert alert-danger" role="alert">
            {{ login_error }}
        </div>
        {% endif %}
    </form>
</div>

{% endif %}
{% endblock %}