{% extends "pages/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'scriptRegistration.js' %}"></script>
{% endblock %}

{% block title %}
ft_transcendence
{% endblock %}

{% block body %}

<ul class="messages" id="messagesContainer">
    {% for message in messages %}
        <div {% if message.tags %} class="alertSize alert alert-{{ message.tags }}"
            {% else %} class="alertSize alert alert-secondary" {% endif %} role="alert">{{ message }}</div>
    {% endfor %}
</ul>

{% if user.is_authenticated %}

<!--<div class="alertSize alert alert-{{ message.tags }}" id="message" style="margin-top: 0px;"></div>-->
<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
    <form action="{% url 'send_friend' %}" method="post"
          class="friendPage bg-white d-flex flex-column align-items-center py-2 px-5 rounded login-card"
          style="--bs-bg-opacity: .5;" id="addFriend">
        {% csrf_token %}
        <h1 class="text-justify play-bold">Add a friend</h1>
        <div class="w-100">
            <label for="username" class="visually-hidden">Username</label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
                <input class="form-control" type="text" name="username" id="username"
                   placeholder="Username" required>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
<!--            <ul id="user-list" class="list-group mt-2"></ul>-->
        </div>
    </form>
    <div id="friendRequest" class="friendPage">
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    fetch('get_friend_requests')
        .then(response => response.json())
        .then(data => {
            console.log(data);
            const friendRequestContainer = document.getElementById('friendRequest');
            friendRequestContainer.innerHTML = '';

            data.forEach(request => {
                const friendRequestItem = document.createElement('div');
                friendRequestItem.classList.add('friendPage', 'list-group-item','list-group-item-action', 'bg-white', 'login-card', 'd-flex', 'py-2', 'px-5', 'rounded');
                friendRequestItem.style.cssText = '--bs-bg-opacity: .5; margin-bottom: 15px';
                friendRequestItem.innerHTML = `
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">From: ${request.from_user__username}</h5>
                            <p class="mb-1">Sent: ${new Date(request.time).toLocaleString()}</p>
                        </div>
                        <p class="mb-1">Status: ${request.status}</p>
                        <div class="buttonsContainer" style="">
                            <button type="button" class="acceptBtn btn btn-primary" style="background: #209920; border-color: #040303"
                                    data-id="${request.from_user_id}">Accept</button>
                            <button type="button" class="declineBtn btn btn-primary" style="background: #e3031c; border-color: #040303"
                                    data-id="${request.from_user_id}">Decline</button>
                        </div>
                `;
                friendRequestContainer.appendChild(friendRequestItem);
            });

            document.querySelectorAll('.acceptBtn').forEach(button => {
                button.addEventListener('click', function() {
                    const from_id = this.getAttribute('data-id');
                    fetch(`accept_friend`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ from_id: from_id })
                    })
                    .then(response => {
                        return response.json().then(data => {
                            if (response.ok) {
                                this.innerText = 'Accepted';
                                this.classList.remove('btn-primary');
                                this.style.background = '';
                                this.classList.add('btn-success', 'acceptedBtn');
                                this.disabled = true;
                                if (data.level && data.message) {
                                    displayMessage(data.message, data.level);
                                }
                            } else {
                                throw new Error(data.message || 'Unknown error occurred.');
                            }
                        });
                    })
                    .catch(error => console.error('Error accepting friend request:', error));
                });
            });

            document.querySelectorAll('.declineBtn').forEach(button => {
                button.addEventListener('click', function() {
                    const from_id = this.getAttribute('data-id');
                    fetch(`decline_friend`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({ from_id: from_id })
                    })
                    .then(response => {
                        if (response.ok) {
                            this.innerText = 'Declined';
                            this.classList.remove('btn-primary');
                            this.style.background = ''
                            this.classList.add('acceptedBtn');
                            this.disabled = true;
                        } else {
                            return response.json().then(data => { throw new Error(data.message); });
                        }
                    })
                    .catch(error => console.error('Error declining friend request:', error));
                });
            });
        })
        .catch(error => console.error('Error fetching friend requests:', error));
    })

function displayMessage(message, level) {
        const messagesContainer = document.getElementById('messagesContainer');
        const alertDiv = document.createElement('div');
        alertDiv.className = `alertSize alert alert-${level}`;
        alertDiv.role = 'alert';
        alertDiv.innerText = message;
        messagesContainer.appendChild(alertDiv);
        setTimeout(() => {
            alertDiv.remove();
        }, 5000);
    }
</script>

<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--    const usernameInput = document.getElementById('username');-->
<!--    const userList = document.getElementById('user-list');-->

<!--    usernameInput.addEventListener('textInput', function() {-->
<!--        const query = usernameInput.value;-->
<!--        if (query.length > 0) {-->
<!--            fetch(`/search_user/?q=${query}`)-->
<!--                .then(response => {response.json();-->
<!--                    console.log(response);}) // to debug-->
<!--                .then(data => {-->
<!--                    console.log(data); // to debug-->
<!--                    userList.innerHTML = '';-->
<!--                    if (data.length > 0) {-->
<!--                        data.forEach(user => {-->
<!--                            const userItem = document.createElement('li');-->
<!--                            userItem.textContent = user.username;-->
<!--                            userItem.classList.add('list-group-item');-->
<!--                            userList.appendChild(userItem);-->
<!--                        });-->
<!--                    } else {-->
<!--                        const noUserItem = document.createElement('li');-->
<!--                        noUserItem.textContent = 'No users found';-->
<!--                        noUserItem.classList.add('list-group-item');-->
<!--                        userList.appendChild(noUserItem);-->
<!--                    }-->
<!--                })-->
<!--                .catch(error => {-->
<!--                    console.error('Error:', error);-->
<!--                });-->
<!--        } else {-->
<!--            userList.innerHTML = '';-->
<!--        }-->
<!--    });-->
<!--});-->

<!--</script>-->

{% endif %}

{% endblock %}