{% extends "pages/layout.html" %}

{% block title %}
ft_transcendence
{% endblock %}

{% block body %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div {% if message.tags %} class="alertSize alert alert-{{ message.tags }}"
                {% else %} class="alertSize alert alert-secondary" {% endif %} role="alert">{{ message }}</div>
        {% endfor %}
    </ul>
{% endif %}

{% if user.is_authenticated %}
<p>Hello {{user.username}} 😳👉👈</p>
{% else %}
<div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <form action="{% url 'login' %}" method="post"
          class="bg-white d-flex flex-column align-items-center py-2 px-5 rounded login-card"
          style="--bs-bg-opacity: .5;" id="loginForm">
        {% csrf_token %}
        <h1 class="text-justify play-bold">ft_transcendence 🏓</h1>
        <div class="w-100">
            <label for="login-username" class="visually-hidden">Username</label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
                <input type="text" name="username" id="login-username" class="form-control" placeholder="username"
                       autofocus required/>
            </div>
        </div>
        <div class="w-100 text-end d-flex flex-column gap-1">
            <div>
                <label for="login-pwd" class="visually-hidden">Password</label>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="bi bi-lock"></i>
                    </div>
                    <input type="password" name="password" id="login-pwd" class="form-control" placeholder="••••••••"
                           required/>
                </div>
            </div>
            <a href="#" class="text-decoration-none" id="forgot">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
        {% if login_error %}
        <div class="alert alert-danger" role="alert">
            {{ login_error }}
        </div>
        {% endif %}
        <div class="d-flex flex-row align-items-center w-100">
            <hr class="flex-grow-1">
            <span class="px-2">or</span>
            <hr class="flex-grow-1">
        </div>
        <button type="button" class="btn btn-dark">
            <img height="32" width="32" src="https://cdn.simpleicons.org/42/fff" alt="42 school logo"
                 style="margin-right: 10px"/>
            Sign in with your 42 account
        </button>
        <a href="{% url 'register' %}" class="text-decoration-none">Don't have an account? Register here.</a>
    </form>

    <form action="{% url 'reset_password' %}" method="post"
          class="bg-white d-flex flex-column align-items-center py-2 px-5 rounded login-card hidden"
          style="--bs-bg-opacity: .5;" id="passwordResetSend">
        {% csrf_token %}
        <h1 class="text-justify play-bold">ft_transcendence 🏓</h1>
        <div class="w-100">
            <label for="email" class="visually-hidden">Email</label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email" autofocus required/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
        {% if login_error %}
        <div class="alert alert-danger" role="alert">
            {{ login_error }}
        </div>
        {% endif %}
    </form>
</div>

<!--<script>-->
<!--    document.getElementById("forgot").onclick = function(event){-->
<!--        event.preventDefault();-->
<!--        document.getElementById("loginForm").style.display = "none";-->
<!--        document.getElementById("passwordResetSend").style.display = "flex";-->
<!--    }-->
<!--</script>-->

<script>
    document.getElementById("forgot").onclick = function(event) {
        event.preventDefault();
        console.log("Forgot password link clicked"); // Debugging line
        var loginForm = document.getElementById("loginForm");
        var resetForm = document.getElementById("passwordResetSend");

        if (loginForm && resetForm) {
            console.log("Forms found"); // Debugging line
            loginForm.style.display = "none";
            resetForm.style.display = "flex";
        } else {
            console.error("Forms not found"); // Debugging line
        }
    }
</script>

{% endif %}
{% endblock %}