{% extends "pages/layout.html" %}
{% load static %}

{% block title %}
ft_transcendence
{% endblock %}

{% block script %}
    <script src="{% static 'forgotPW.js' %}"></script>
{% endblock %}


{% block body %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div {% if message.tags %} class="alertSize alert alert-{{ message.tags }}"
                {% else %} class="alertSize alert alert-secondary" {% endif %} role="alert">{{ message }}</div>
        {% endfor %}
    </ul>
{% endif %}

{% if user.is_authenticated %}
<div id="greetings">Hello {{user.username}} 😳👉👈</div>

<div class="container" id="divUserStats">
</div>

<div class="container" id="divProfile">
</div>

{% else %}
<div class="w-100 h-100 d-flex justify-content-center align-items-center" id="divLoginForm">
    <form action="{% url 'login' %}" method="post"
          class="bg-white d-flex flex-column align-items-center py-2 px-5 rounded login-card"
          style="--bs-bg-opacity: .5;" id="loginForm">
        {% csrf_token %}
        <h1><a class="text-justify play-bold" href="{% url 'index' %}" >ft_transcendence 🏓</a></h1>
        <div class="w-100">
            <label for="login-username" class="visually-hidden">Username</label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
                <input type="text" name="username" id="login-username" class="form-control" placeholder="username"
                       autofocus required/>
            </div>
        </div>
        <div class="w-100 text-end d-flex flex-column gap-1">
            <div>
                <label for="login-pwd" class="visually-hidden">Password</label>
                <div class="input-group">
                    <div class="input-group-text">
                        <i class="bi bi-lock"></i>
                    </div>
                    <input type="password" name="password" id="login-pwd" class="form-control" placeholder="••••••••"
                           required/>
                </div>
            </div>
            <a href="" onclick="reset_password()" class="text-decoration-none">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
        {% if login_error %}
        <div class="alert alert-danger" role="alert">
            {{ login_error }}
        </div>
        {% endif %}
        <div class="d-flex flex-row align-items-center w-100">
            <hr class="flex-grow-1">
            <span class="px-2">or</span>
            <hr class="flex-grow-1">
        </div>
        <a href="{% url 'login42' %}">
        <button type="button" class="btn btn-dark">
            <img height="32" width="32" src="https://cdn.simpleicons.org/42/fff" alt="42 school logo"
                 style="margin-right: 10px"/>
            Sign in with your 42 account
        </button>
        </a>
        <a href="{% url 'register' %}" class="text-decoration-none">Don't have an account? Register here.</a>
    </form>


</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#loginForm').on('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission
            $.ajax({
                type: 'POST',
                url: "{% url 'login' %}", // Ensure this URL matches your login view's URL pattern
                data: $(this).serialize(), // Serialize the form data
                success: function(response) {
                    console.log("Success:", response);
                    if (response.otp_required) { // Check if an OTP is required
                        // Redirect to the OTP page with the necessary parameters
                        window.location.href = "{% url 'verify_otp' %}?user_id=" + response.user_id;
                    } else {
                        // Redirect to the index page or another appropriate page on successful login
                        window.location.href = "{% url 'index' %}";
                    }
                },
                error: function(response) {
                    console.log("error:", response);
                    alert('Login failed. Please try again.');
                }
            });
        });
    });
</script>

{% endif %}
{% endblock %}