{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Transcendence{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/media/pics/pong.png">
    <link href="{% static 'styles.css' %}" rel="stylesheet">
    <link href="{% static 'stylesAnim.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    {% block script %}
    {% endblock %}

</head>


<body class="bg-gradient fullscreen d-flex flex-column">
{% if user.is_authenticated %}
<nav class="navbar bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item roundBorder">
                {% if user.image_url %}
                    <img src="{{ user.image_url}}" alt="avatar">
                {% else %}
                    <img src="{{ user.image.url }}" alt="avatar">
                {% endif %}
            </li>
        </ul>


        <div class="dropdown me-auto">
            <a data-bs-toggle="dropdown" aria-expanded="false" id="ownUsername">
                {{ user.username }}
                <span id="arrowUsername"><i class="fa-solid fa-caret-down"></i></span>
            </a>


            <div class="dropdown-menu dropdown-menu-start">
                <a class="dropdown-item button" href="" id="profile">Profile</a>
                <a class="dropdown-item button" href="" id="statsPage">Stats</a>
                <a class="dropdown-item button" href="" id="friendsPage">Friends</a>
            </div>
        </div>


        <ul class="nav">
            <a class="navbar-brand" href="{% url 'index' %}" id="mainPage">
                <span class="play-bold nav-item">ft_transcendence 🏓</span>
            </a>
        </ul>


        <ul class="nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href=#>Settings</a>
            </li>
        </ul> <ul class="nav me-auto">
            {% if not user.stud42 %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'change_password' %}">Change password</a>
            </li>
            {% endif %}
        </ul>
        <ul class="nav ms-auto">
            <li class="nav-item">
                <form method="POST" id="logout_form" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <span class="text-danger" onclick="document.getElementById('logout_form').submit()">Logout</span>
                </form>
            </li>
        </ul>
    </div>
</nav>

{% endif %}

<div id="content" class="h-100">
    <ul class="messages" id="messagesContainer">
        {% for message in messages %}
            <div {% if message.tags %} class="alertSize alert alert-{{ message.tags }}"
                {% else %} class="alertSize alert alert-secondary" {% endif %} role="alert">{{ message }}</div>
        {% endfor %}
    </ul>
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
