{% extends "pages/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'scriptRegistration.js' %}"></script>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
    <h2>Already registered</h2>
{% else %}

<div class="w-100 h-100 d-flex justify-content-center align-items-center">
    <form action="{% url 'change_reset_password' uidb64=uidb64 token=token %}" method="post"
          class="bg-white d-flex flex-column align-items-center py-2 px-5 rounded login-card hidden"
          style="--bs-bg-opacity: .5;" id="passwordResetForm">
        {% csrf_token %}
        <h1 class="text-justify play-bold">ft_transcendence 🏓</h1>
        <div class="w-100">
            <label for="new_password" class="visually-hidden">New password</label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="bi bi-lock"></i>
                </div>
                <input type="password" name="new_password" id="new_password" class="form-control" placeholder="Password" autofocus required/>
            </div>
        </div>
        <div class="w-100">
            <label for="confirm_password" class="visually-hidden">Confirm password</label>
            <div class="input-group">
                <div class="input-group-text">
                    <i class="bi bi-lock"></i>
                </div>
                <input type="Password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm Password" autofocus required/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>

{% endif %}
{% endblock %}